.iframe16x9-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
}

.iframe16x9-wrapper > video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

#video-player-main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.video-js button.vjs-big-play-button {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block !important;
}

.video-js.vjs-playing .vjs-big-play-button {
    opacity: 0;
    transition: opacity 0.333333s ease !important;
}

.video-js:not(.vjs-playing) .vjs-big-play-button {
    opacity: 1;
    transition: opacity 0.333333s ease !important;
}

#main section {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

#main #font-check {
    font-size: 16px;
}

#main .jumbotron {
    font-family: "Muli", sans-serif;
    padding-top: 1.5rem;
}

.grid {
    --width: 768px;
    --gap: 20px;
    --aspect-1: 1;
    --aspect-2: 0.5;
    --aspect-3: 1.5;
    --width-1:
        (var(--gap) * var(--aspect-2) * var(--aspect-3) + (var(--width) - var(--gap)) * (var(--aspect-2) + var(--aspect-3))) /
        (var(--aspect-2) + var(--aspect-3) + var(--aspect-2) * var(--aspect-3) / var(--aspect-1));
    --width-2: var(--width) - var(--width-1) - var(--gap);
    --height-1: (var(--width-1)) / (var(--aspect-1));
    --height-2: (var(--width-2)) / (var(--aspect-2));
    --height-3: (var(--width-2)) / (var(--aspect-3));

    margin: 0 0 1em;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: calc(var(--width-1)) calc(var(--width-2));
    grid-template-rows: calc(var(--height-2)) calc(var(--height-3));

    figure {
        margin-bottom: 0;

        img {
            height: auto;
        }
    }

    .item1 {
        // outline: 1px dotted red;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .item2 {
        // outline: 1px dotted green;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .item3 {
        // outline: 1px dotted blue;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

// .item4 {
//     background-color: hsla(0, 80%, 40%, 0.8);
//     background-image: linear-gradient(to right, hsla(0, 80%, 45%, 0.95), hsla(210, 90%, 50%, 0.95));
//     grid-column: 1 / 3;
//     grid-row: 3 / 4;
// }

#strip {
    margin-bottom: 1em;
}

#lists {
    display: none;
}
