#absolute {
	background: #d1e5fa;
	background-color: hsla(210, 80%, 90%, 0.8);
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#991e1e+0,d62828+61,e57b7b+100 */
	background: -moz-linear-gradient(150deg, hsla(140,67%,36%,1) 0%, hsla(137,69%,50%,1) 61%, hsla(136,67%,69%,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(150deg, hsla(140,67%,36%,1) 0%,hsla(137,69%,50%,1) 61%,hsla(136,67%,69%,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(150deg, hsla(140,67%,36%,1) 0%,hsla(137,69%,50%,1) 61%,hsla(136,67%,69%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991e1e', endColorstr='#e57b7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	position: absolute;
	right: 0;
	top: 10%;
	border: 1px dashed blue;
	padding: 0.7em 1.4em;
	max-width: 440px!important;
}

#fixed {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+61,7db9e8+100 */
	background: #fad1d1; /* Old browsers */
	background-color: hsla(80, 80%, 90%, 0.8);
	background: -moz-linear-gradient(-150deg, hsla(190,67%,36%,0.75) 0%, hsla(187,69%,51%,0.75) 61%, hsla(186,70%,70%,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-150deg, hsla(190,67%,36%,0.75) 0%,hsla(187,69%,51%,0.75) 61%,hsla(186,70%,70%,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(-150deg, hsla(190,67%,36%,0.75) 0%,hsla(187,69%,51%,0.75) 61%,hsla(186,70%,70%,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	position: fixed;
	left: 0;
	bottom: 4%;
	border: 1px dotted red;
	padding: 0.7em 1.4em;
	max-width: 440px!important;
}

#layout figure figcaption {
	font-style: oblique;
	font-size: 0.8em;
	text-shadow: 0 0 1px hsla(0, 0%, 100%, 1), 1px 1px 4px hsla(0, 0%, 0%, 0.5);
}

aside {
	float: right;
	width: 47%;
	padding-left: 2em;
	border-left: 1px solid black;
	margin-left: 2em;
	@media screen and (min-width: 961px) {
		margin-right: -15%;
	}
}