{
	debug
	http_port 8081
	https_port 6081
	admin off
	local_certs
}

html.local.test {
	encode gzip
	file_server

	rewrite /handle /go{path}
	handle_path /go/* {
		uri strip_prefix /go
		reverse_proxy localhost:9000
	}
}

localhost {
	redir https://html.local.test:6081{uri}
}
