@charset "UTF-8";
ol.lower-alpha {
    list-style: none;
    li {
        position: relative;
        margin-left: 1.4em;
        &::before {
            position: absolute;
            left: -1.5em;
        }

        &:nth-of-type(1)::before {
            :lang(ru) & {
                content: "а. ";
            }
            :lang(el) & {
                content: "α. ";
            }
        }
        &:nth-of-type(2)::before {
            :lang(ru) & {
                content: "б. ";
            }
            :lang(el) & {
                content: "β. ";
            }
        }
        &:nth-of-type(3)::before {
            :lang(ru) & {
                content: "в. ";
            }
            :lang(el) & {
                content: "γ. ";
            }
        }
        &:nth-of-type(4)::before {
            :lang(ru) & {
                content: "г. ";
            }
            :lang(el) & {
                content: "δ. ";
            }
        }
        &:nth-of-type(5)::before {
            :lang(ru) & {
                content: "д. ";
            }
            :lang(el) & {
                content: "ε. ";
            }
        }
        &:nth-of-type(6)::before {
            :lang(ru) & {
                content: "е. ";
            }
            :lang(el) & {
                content: "ζ. ";
            }
        }
        &:nth-of-type(7)::before {
            :lang(ru) & {
                content: "ж. ";
            }
            :lang(el) & {
                content: "η. ";
            }
        }
        &:nth-of-type(8)::before {
            :lang(ru) & {
                content: "з. ";
            }
            :lang(el) & {
                content: "θ. ";
            }
        }
        &:nth-of-type(9)::before {
            :lang(ru) & {
                content: "и. ";
            }
            :lang(el) & {
                content: "ι. ";
            }
        }
        &:nth-of-type(10)::before {
            :lang(ru) & {
                content: "к. ";
            }
            :lang(el) & {
                content: "κ. ";
            }
        }
        &:nth-of-type(11)::before {
            :lang(ru) & {
                content: "л. ";
            }
            :lang(el) & {
                content: "λ. ";
            }
        }
        &:nth-of-type(12)::before {
            :lang(ru) & {
                content: "м. ";
            }
            :lang(el) & {
                content: "μ. ";
            }
        }
    }
}

.start-of-the-day {
    color: navy;
}

.three-columns {
    display: flex;
    @media screen and (min-width: 992px) {
        justify-content: space-between;
        > div {
            width: calc((100% - 2em / 3));
        }
    }
}

.scroll-wrapper {
    overflow: hidden;
}
.scroll-my-children {
    margin-bottom: 1rem;
    color: purple;
    white-space: nowrap;
    span {
        color: green;
    }
    transform: translateX(-50%);
}
